

  .drawer {
    position: fixed;
    padding: 4px;
    height: 100vh;
    width: 230px;
  }
  
  
  .main {
    background-color: #fff;
  }
  
  .main.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #ccc;
  }
  

  .filter-toolbar-icon {
    padding: 0 14px;
  }
  .filter-toolbar-spacer {
    flex: 1 1 auto;
  }


  .mb100{
    margin-bottom: 50px;
  }