<button nz-button nzType="primary" (click)="open()">Advanced Filters</button>
<nz-drawer [nzClosable]="false" [nzVisible]="visible" [nzPlacement]="placement" nzTitle="Basic Drawer" (nzOnClose)="close()">
  <p>Some contents...</p>
  <p>Some contents...</p>
  <p>Some contents...</p>
</nz-drawer>




<nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzWidth="25%">Module</th>
      <th nzWidth="30%">Module Id</th>
      <th nzWidth="25%">Handler Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
        <td>{{data.module}}</td>
        <td>{{data.moduleId}}</td>
        <td>{{data.userEmail}}</td>
        <td>
          <a class="save">Delete</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a class="save">Escalate</a>
        </td>
    </tr>
  </tbody>
</nz-table>
