<ion-content fullscreen>
  <div *ngIf="typeDict" style="margin: 4px; padding:4px;">    
      <h2>
        Contact Information
      </h2>
      <ng-container *ngFor="let contact of selectedLead.contact">
        <ion-button color="success" size="small" *ngIf="contact.category === 'mobile'">
          <ion-icon name="call"></ion-icon>
          <i class="icon ion-ios-telephone"></i> &nbsp;
          {{ contact.value }}
        </ion-button>
        <a *ngIf="contact.category !== 'mobile'"> {{ contact.value }}</a>
      </ng-container>

    <mat-form-field class="mat-full-width" appearance="fill" style="margin-top: 8px;">
      <mat-label>Campaign</mat-label>
      <mat-select [(ngModel)]="selectedLead.campaignId" (ngModelChange)="onSelectedCampaignChange()">
        <mat-option *ngFor="let c of campaignList" [value]="c._id">
          {{ c.campaignName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-full-width" appearance="fill" style="margin-top: 8px;">
      <mat-label>Handler</mat-label>
      <mat-select [(ngModel)]="selectedLead.email">
        <mat-option *ngFor="let u of usersForReassignment" [value]="u._id">
          {{ u.fullName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-tab-group mat-align-tabs="start">
      <mat-tab [label]="g.label | titlecase" *ngFor="let g of selectedCampaign?.groups">

        <ng-container *ngFor="let leadKey of g.value">
          <ng-container [ngSwitch]="typeDict[leadKey]?.type">

            <mat-form-field class="mat-full-width" appearance="outline" *ngSwitchCase="'date'">
              <mat-label> {{typeDict[leadKey].label | titlecase}} </mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="selectedLead[leadKey]">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <mat-form-field *ngSwitchCase="'number'" class="mat-full-width" appearance="outline">
              <mat-label> {{typeDict[leadKey].label}} </mat-label>
              <input matInput placeholder="Basic usage" [(ngModel)]="selectedLead[leadKey]" />
            </mat-form-field>



            <mat-form-field *ngSwitchCase="'string'" class="mat-full-width" appearance="outline">
              <mat-label> {{typeDict[leadKey].label}} </mat-label>
              <input matInput placeholder="Basic usage" [(ngModel)]="selectedLead[leadKey]"
                [disabled]="isDisabled(leadKey)" />
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'tel'" class="mat-full-width" appearance="outline">
              <mat-label> {{typeDict[leadKey].label}} </mat-label>
              <input matInput placeholder="Basic usage" [(ngModel)]="selectedLead[leadKey]" type="tel"
                [disabled]="isDisabled(leadKey)" />
            </mat-form-field>


            <mat-form-field *ngSwitchCase="'select'" class="mat-full-width" appearance="outline">
              <mat-label> {{typeDict[leadKey].label}} </mat-label>
              <mat-select [(ngModel)]="selectedLead[leadKey]">
                <mat-label>{{typeDict[leadKey].label}}</mat-label>
                <mat-option *ngFor="let option of typeDict[leadKey].options" [value]="option">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

        </ng-container>
      </mat-tab>
    </mat-tab-group>

    <button mat-button mat-flat-button (click)="evaluateOtherData()">
      {{ this.showOtherData ? "Show Less" : "Show More" }}
    </button>

    <button mat-button mat-raised-button class="mat-full-width" color="primary" (click)="handleLeadSubmission(selectedLead)">Submit</button>
  </div>
</ion-content>