<a [routerLink]="['home', 'users', 'signup']">Create a user</a>

<div class="scrollable">
  <nz-collapse [nzBordered]="true">
    <nz-collapse-panel [nzShowArrow]="false" *ngFor="let data of listOfRandomUser" [nzHeader]="accordianheader" (click)="viewActivity(data)">
      <div nz-row>
        <div nz-col nzFlex="3">
          <ion-label>
            <h3>{{data?.managedBy.email}}</h3>
            <span>{{ data?.managedBy.roleType}}</span>
          </ion-label>
        </div>
        <div nz-col nzFlex=1>
          <span class="actions">
            <i nz-icon nzType="mail" nzTheme="outline"></i> &nbsp;
            <i nz-icon nzType="phone" nzTheme="outline"></i> &nbsp;
            <i nz-icon nzType="whats-app" nzTheme="outline"></i>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngFor="let manager of managers" (click)="reassignToUser(manager, data)">
                  {{manager.email}} </li>
              </ul>
            </nz-dropdown-menu>
          </span>
        </div>
      </div>
      <nz-descriptions nzBordered [nzColumn]="1" nzTitle="Lead Details" *ngIf="data.userLeadActivityDetails?.length>0">
        <nz-descriptions-item [nzTitle]="detail._id" *ngFor="let detail of data.userLeadActivityDetails">{{detail.amount}}</nz-descriptions-item>
      </nz-descriptions>


      <ng-template #accordianheader>
        <div nz-row nzJustify="space-between">
          <div nz-col nzFlex="3">
            <ion-label>
              <h3>{{data?.email}}</h3>
              <p class="m0 p0">{{ data?.createdAt | date }}</p>
              <p class="m0 p0">{{ data?.roleType }}</p>
              <a (click)="navigate(data._id);  $event.stopPropagation();">Edit User</a>
            </ion-label>
          </div>
          <div nz-col nzFlex="1">
            <ion-label>
              <i nz-icon nzType="api" nzTheme="fill" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"></i> &nbsp;
              <i nz-icon nzType="book" nzTheme="outline" (click)="takeActions('history'); $event.stopPropagation()"></i>
              &nbsp;
              <i nz-icon nzType="user-delete" nzTheme="outline"
                (click)="takeActions('unassign'); $event.stopPropagation()"></i>
            </ion-label>
          </div>
        </div>
      </ng-template>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-pagination class="pagination-component" [nzTotal]="total" [nzPageSize]="pageSize" nzSimple [nzPageIndex]="pageIndex" (nzPageIndexChange)="onQueryParamsChange($event)" [nzShowSizeChanger]="true"></nz-pagination>
</div>