<a [routerLink]="['home', 'users', 'signup']">Create a user</a>

<div class="scrollable">
  <nz-collapse [nzBordered]="true">
    <nz-collapse-panel [nzShowArrow]="false" *ngFor="let user of listOfRandomUser" [nzHeader]="accordianheader" (click)="viewActivity(user)">
      <div nz-row>
        <div nz-col nzFlex="3">
          <ion-label>
            <h3>{{user?.managedBy.email}}</h3>
            <span>{{ user?.managedBy.roleType}}</span>
          </ion-label>
        </div>
        <div nz-col nzFlex=1>
          <span class="actions">
            <i nz-icon nzType="mail" nzTheme="outline"></i> &nbsp;
            <i nz-icon nzType="phone" nzTheme="outline"></i> &nbsp;
            <i nz-icon nzType="whats-app" nzTheme="outline"></i>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngFor="let manager of managers" (click)="reassignToUser(manager, user)">
                  {{manager.email}} </li>
              </ul>
            </nz-dropdown-menu>
          </span>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzFlex=1>
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="dateRange">Select Campaign</nz-form-label>
            <nz-select [nzSize]="'small'" nzMode="default" nzPlaceHolder="Inserted are removed" [(ngModel)]="selectedCampaign" (ngModelChange)="onSelectionChange()">
              <nz-option *ngFor="let campaign of campaignList" [nzLabel]="campaign.campaignName" [nzValue]="campaign"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
    
        <div nz-col nzFlex=2>
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="dateRange">Select Interval</nz-form-label>
            <nz-range-picker [nzSize]="'small'" [(ngModel)]="selectedInterval" (ngModelChange)="onSelectionChange()"></nz-range-picker>
          </nz-form-item>
        </div>
      </div>
      
      <nz-descriptions nzBordered [nzColumn]="1" nzTitle="Lead Details" *ngIf="user.userLeadActivityDetails?.length>0">
        <nz-descriptions-item [nzTitle]="detail._id" *ngFor="let detail of user.userLeadActivityDetails">{{detail.amount}}</nz-descriptions-item>
      </nz-descriptions>


      <ng-template #accordianheader>
        <div nz-row nzJustify="space-between">
          <div nz-col nzFlex="3">
            <ion-label>
              <h3>{{user?.email}}</h3>
              <p class="m0 p0">{{ user?.createdAt | date }}</p>
              <p class="m0 p0">{{ user?.roleType }}</p>
              <a (click)="navigate(user._id);  $event.stopPropagation();">Edit User</a>
            </ion-label>
          </div>
          <div nz-col nzFlex="1">
            <ion-label>
              <i nz-icon nzType="api" nzTheme="fill" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"></i> &nbsp;
              <i nz-icon nzType="book" nzTheme="outline" (click)="takeActions('history'); $event.stopPropagation()"></i>
              &nbsp;
              <i nz-icon nzType="user-delete" nzTheme="outline"
                (click)="takeActions('unassign'); $event.stopPropagation()"></i>
            </ion-label>
          </div>
        </div>
      </ng-template>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-pagination class="pagination-component" [nzTotal]="total" [nzPageSize]="pageSize" nzSimple [nzPageIndex]="pageIndex" (nzPageIndexChange)="onQueryParamsChange($event)" [nzShowSizeChanger]="true"></nz-pagination>
</div>