<div nz-row>
  <div nz-col nzFlex=1>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="campaignList">Select Campaign</nz-form-label>
      <nz-select nzMode="default" nzPlaceHolder="Inserted are removed" [(ngModel)]="selectedCampaign" (ngModelChange)="onLeadSelectionChange()">
        <nz-option *ngFor="let campaign of campaignList" [nzLabel]="campaign.campaignName" [nzValue]="campaign"></nz-option>
      </nz-select>
    </nz-form-item>
  </div>

  <div nz-col nzFlex=1>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="dateRange">Select Interval</nz-form-label>
      <nz-range-picker [(ngModel)]="selectedInterval" (ngModelChange)="getFollowUps()"  [nzDisabledDate]="disabledDate"></nz-range-picker>
    </nz-form-item>
  </div>
</div>


<nz-collapse [nzBordered]="true" *ngIf="listOfUpcomingLeads && typeDict" class="scrollable">
  <nz-collapse-panel [nzShowArrow]="false" *ngFor="let lead of listOfUpcomingLeads" [nzHeader]="accordianheader" [nzActive]="lead.active">
      <p *ngFor="let key of objectkeys(lead)">
        {{typeDict[key]?.label}} : {{typeDict[key]?.type === 'date' ? (lead[key] | date) : (lead[key])}}
      </p>

      <ng-template #accordianheader>
        <nz-descriptions>
          <ng-container *ngFor="let key of objectkeys(lead); let i = index">
            <nz-descriptions-item [nzTitle]="typeDict[key]?.label" *ngIf="i<6 && typeDict[key]?.label">
              {{typeDict[key]?.type === 'date' ? (lead[key] | date) : (lead[key])}}
            </nz-descriptions-item>
          </ng-container>
        </nz-descriptions>
      </ng-template>

  </nz-collapse-panel>
</nz-collapse>


<nz-pagination [nzPageIndex]="page" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="perPage"
  (nzPageSizeChange)="onPageSizeChange($event)" (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
