<div nz-row>
  <div nz-col nzFlex=1>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="campaignList">Select Campaign</nz-form-label>
      <nz-select nzMode="default" nzPlaceHolder="Inserted are removed" [(ngModel)]="selectedCampaign" (ngModelChange)="getFollowUps()">
        <nz-option *ngFor="let campaign of campaignList" [nzLabel]="campaign.campaignName" [nzValue]="campaign"></nz-option>
      </nz-select>
    </nz-form-item>
  </div>

  <div nz-col nzFlex=1>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="dateRange">Select Interval</nz-form-label>
      <nz-range-picker [(ngModel)]="selectedInterval" (ngModelChange)="getFollowUps()"  [nzDisabledDate]="disabledDate"></nz-range-picker>
    </nz-form-item>
  </div>
</div>
