<mat-card style="height: 100vh;">
  <mat-card-content>
    <p style="font-weight: 600; font-size: larger; margin-bottom: 30px;">Place Order</p>
    <form [formGroup]="activationForm" *ngIf="activationForm">
      <mat-form-field class="mat-full-width" appearance="outline" style="display: none;">
        <mat-label>Organization Id</mat-label>
        <input matInput formControlName="organization" />
      </mat-form-field>
      <mat-form-field class="mat-full-width" appearance="outline">
        <mat-label>Base Price</mat-label>
        <input matInput formControlName="perUserRate" />
      </mat-form-field>
    
      <mat-form-field class="mat-full-width" appearance="outline">
        <mat-label>Discount %</mat-label>
        <input matInput formControlName="discount" type="number" step="1"/>
      </mat-form-field>
    
      <mat-form-field class="mat-full-width" appearance="outline">
        <mat-label>Seats Required</mat-label>
        <input matInput formControlName="seats" type="number" step="1"/>
      </mat-form-field>
    
      <mat-form-field class="mat-full-width" appearance="outline">
        <mat-label>Months</mat-label>
        <input matInput formControlName="months" type="number" step="1"/>
      </mat-form-field>
    
      <mat-form-field class="mat-full-width" appearance="outline">
        <mat-label>Total</mat-label>
        <input matInput formControlName="total"/>
      </mat-form-field>
    </form>
  </mat-card-content>


  <mat-card-footer>
    <button 
      type="submit" 
      mat-raised-button 
      color="primary" 
      class="mat-full-width"
      (click) = handleActivationFormSubmit()
    >Proceed to checkout</button>
  </mat-card-footer>
</mat-card>
