<nz-content class="parent">
  <div class="top">
    <!-- <nz-select nzMode="default" nzPlaceHolder="Inserted are removed" [(ngModel)]="selectedCampaign">
      <nz-option *ngFor="let campaign of campaignList" [nzLabel]="campaign.campaignName" [nzValue]="campaign._id">
      </nz-option>
    </nz-select> -->

    <!-- <a nz-button nzType="link" (click)="fetchNextLead()">Fetch Lead</a>
    <a nz-button nzType="link" (click)="openFilterDrawer()">Add Filters</a> -->
    <ng-container *ngIf="leadFilter">
      <nz-tag *ngFor="let key of objectkeys(leadFilter);" nzMode='closeable' (nzOnClose)="handleTagRemoval(key)"
        [nzColor]="'magenta'">
        {{typeDict[key].label}} :
        {{typeDict[key].type === 'date' ? ((leadFilter[key][0]|date)+" to "+(leadFilter[key][1]|date)): leadFilter[key]}}
      </nz-tag>
    </ng-container>
  </div>

  <nz-empty *ngIf="isEmpty(selectedLead)"></nz-empty>
  <nz-page-header class="site-page-header" *ngIf="selectedLead">
    <nz-page-header-title>{{selectedLead.firstName}} {{selectedLead.lastName}}</nz-page-header-title>
    <!-- <nz-page-header-subtitle >{{selectedLead.lastName}}</nz-page-header-subtitle> -->
    <nz-page-header-content>
      <div class="content">
        <div class="main">
          <ng-container>
            <nz-collapse>
              <nz-collapse-panel nzHeader="LEAD DETAILS" nzActive="false">
                <WingBlank size='sm'>
                  <nz-collapse>
                    <nz-collapse-panel nzHeader="Contact Information" nzShowArrow="false">
                      <nz-descriptions nzBordered="true" [nzSize]="'middle'" style="background-color: snow;">
                        <nz-descriptions-item *ngFor="let contact of selectedLead.contact" [nzTitle]="contact['label']">
                          {{contact['value']}}
                        </nz-descriptions-item>
                      </nz-descriptions>
                      <button nz-button nzSize='small' style="float: right;" (click)="showContactDrawer()">Add
                        Contact</button>
                    </nz-collapse-panel>
  
                    <ng-container *ngFor="let g of leadGroups">
                      <nz-collapse-panel [nzHeader]="g.label" key="g.label" nzShowArrow="false">
                        <nz-descriptions nzBordered="true" nzLayout="vertical" [nzSize]="'middle'">
                          <ng-container *ngFor="let leadKey of objectkeys(selectedLead)" key="leadKey">
                            <ng-container *ngIf="g.value.includes(leadKey)">
                              <nz-descriptions-item *ngIf="typeDict[leadKey]" [nzTitle]="typeDict[leadKey].label">
                                <ng-container [ngSwitch]="typeDict[leadKey].type">
                                  <ng-container *ngSwitchCase="'date'">
                                    <input type="datetime-local" nz-input [(ngModel)]="selectedLead[leadKey]" [disabled]="isDisabled(leadKey)"
                                      nzShowTime (nzOnOpenChange)="handleDateOpenChange($event)"
                                      (nzOnPanelChange)="handleDatePanelChange($event)">
                                  </ng-container>
  
                                  <ng-container *ngSwitchCase="'number'">
                                    <input nz-input placeholder="Basic usage" [(ngModel)]="selectedLead[leadKey]" />
                                  </ng-container>
  
                                  <ng-container *ngSwitchCase="'string'">
                                    <input nz-input placeholder="Basic usage" [(ngModel)]="selectedLead[leadKey]"
                                      [disabled]="isDisabled(leadKey)" />
                                  </ng-container>
  
                                  <!-- <ng-container *ngSwitchCase="'tel'">
                                        <a nz-button nzType="primary" href="tel:{{selectedLead[leadKey]}}">{{selectedLead[leadKey]}}</a>
                                      </ng-container> -->
  
                                  <ng-container *ngSwitchCase="'select'">
                                    <nz-select nzMode="default" [(ngModel)]="selectedLead[leadKey]">
                                      <nz-option *ngFor="let option of typeDict[leadKey].options" [nzLabel]="option"
                                        [nzValue]="option">
                                      </nz-option>
                                    </nz-select>
                                  </ng-container>
                                </ng-container>
                              </nz-descriptions-item>
                            </ng-container>
                          </ng-container>
                        </nz-descriptions>
                      </nz-collapse-panel>
                    </ng-container>
                  </nz-collapse>
                </WingBlank>
              </nz-collapse-panel>
            </nz-collapse>

            <div style="background-color: whitesmoke;" style="padding-left: 3px;">
              <ng-container *ngFor="let contact of selectedLead.contact">
                <ion-button color="success" size="small" (click)="onPhoneClick(contact.value)" *ngIf="contact.category === 'mobile'">
                  <ion-icon name="call"></ion-icon>
                  <i class="icon ion-ios-telephone"></i> &nbsp;
                  {{contact.value}}
                </ion-button>
              </ng-container>
            </div>  

            
            <nz-tree [nzData]="callDispositions" (nzClick)="handleDispositionTreeEvent($event)" style="background-color: whitesmoke;">
            </nz-tree>   
              <nz-collapse>

            </nz-collapse>
          </ng-container>
          <nz-collapse>
            <nz-collapse-panel [nzHeader]="'Lead History'" *ngIf="selectedLead?.history?.length>0">
              <div style="max-height: 200px; height: 200px; overflow-y: scroll;">
                <WhiteSpace size='lg'></WhiteSpace>
                <ion-fab (click)="onShowMoreClick()" style="position: sticky; float: right; top: 10px;">
                  <ion-fab-button style="transform: scale(0.8);">
                    <ion-icon [name]="historyLimit === 1 ? 'add-outline' : 'remove-outline'"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
                <nz-timeline>
                  <nz-timeline-item nzColor="green"
                    *ngFor="let h of selectedLead.history?.reverse().slice(0, historyLimit)">
                    <p>
                      Created at {{h.createdAt | date:"medium"}}
                    </p>
                    <p>Coordinates: {{h.geoLocation.coordinates[0] + ", "+ h.geoLocation.coordinates[1]}}</p>
                    <p style="width: 100%;">{{h.notes}}</p>
                    <p *ngFor="let el of h.requestedInformation" style="background-color: azure;">{{jsonStringify(el)}}
                    </p>
                  </nz-timeline-item>
                </nz-timeline>
              </div>
            </nz-collapse-panel>

            <ng-template #requiredTemplate>
              <span>Requested Information &nbsp;<i *ngIf="actions.isInformationRequested" style="color: chocolate;"
                  nz-icon nzType="star" nzTheme="fill"></i></span>
            </ng-template>


            <nz-collapse-panel [nzHeader]="requiredTemplate" [nzActive]="actions.isInformationRequested">
              <div *ngIf="formModel" style="max-width:500px;">
                <nz-page-header class="site-page-header" nzBackIcon>
                  <nz-page-header-title>{{formModel.name}}</nz-page-header-title>
                  <nz-page-header-subtitle>{{formModel.description}}</nz-page-header-subtitle>
                  <nz-page-header-content>
                    <div class="content">
                      <form nz-form>
                        <ng-container *ngFor="let item of formModel.attributes">
                          <ng-container [ngSwitch]="item.type">
        
                            <nz-form-item *ngSwitchCase="'text'">
                              <nz-form-label [nzSm]="6" [nzRequired]="item.required" nzFor="email">{{item.label}}
                              </nz-form-label>
                              <nz-form-control [nzSm]="14" [nzXs]="24">
                                <input nz-input [id]="item.id" [(ngModel)]="item.value"
                                  [ngModelOptions]="{standalone: true}" />
                              </nz-form-control>
                            </nz-form-item>
        
                            <nz-form-item *ngSwitchCase="'email'">
                              <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}}</nz-form-label>
                              <nz-form-control [nzSpan]="14">
                                <input nz-input type="email" id="{{item.name}}" [(ngModel)]="item.value"
                                  placeholder="{{item.placeholder}}" [ngModelOptions]="{standalone: true}">
                              </nz-form-control>
                            </nz-form-item>
        
                            <nz-form-item *ngSwitchCase="'phone'">
                              <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}}</nz-form-label>
                              <nz-form-control [nzSpan]="14">
                                <input nz-input type="text" id="{{item.name}}" placeholder="{{item.placeholder}}"
                                  [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item *ngSwitchCase="'number'">
                              <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}}</nz-form-label>
                              <nz-form-control [nzSpan]="14">
                                <input nz-input type="number" id="{{item.name}}" min="{{item.min}}" [(ngModel)]="item.value"
                                  max="{{item.max}}" placeholder="{{item.placeholder}}"
                                  [ngModelOptions]="{standalone: true}">
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item *ngSwitchCase="'date'">
                              <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}}</nz-form-label>
                              <nz-form-control [nzSpan]="14">
                                <input type="datetime-local" nz-input id="{{item.name}}" [(ngModel)]="item.value"
                                  [ngModelOptions]="{standalone: true}">
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item *ngSwitchCase="'datetime-local'">
                              <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}}</nz-form-label>
                              <nz-form-control [nzSpan]="14">
                                <input type="datetime-local" nz-input id="{{item.name}}" nzShowTime [(ngModel)]="item.value"
                                  [ngModelOptions]="{standalone: true}">
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item *ngSwitchCase="'textarea'">
                              <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}}</nz-form-label>
                              <nz-form-control [nzSpan]="14">
                                <textarea nz-input placeholder="Controlled autosize"
                                  [nzAutosize]="{ minRows: 3, maxRows: 5 }" id="{{item.name}}"
                                  placeholder="{{item.placeholder}}" [(ngModel)]="item.value"
                                  [ngModelOptions]="{standalone: true}">
                                </textarea>
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item *ngSwitchCase="'file'">
                              <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}} (File can't be uploaded right now)</nz-form-label>
                              <nz-form-control [nzSpan]="14">
                                <input nz-input type="file" id="{{item.name}}" placeholder="{{item.placeholder}}"
                                  [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
                              </nz-form-control>
                            </nz-form-item>
        
                            <div *ngSwitchCase="'paragraph'">
                              <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}}</nz-form-label>
                                <nz-form-control>
                                  <nz-input-group [nzSuffix]="inputClearTpl">
                                    <input type="text" nz-input [(ngModel)]="item.value" placeholder="input with clear icon"
                                      [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" />
                                  </nz-input-group>
                                </nz-form-control>
                              </nz-form-item>
        
                              <ng-template #inputClearTpl><i nz-icon class="ant-input-clear-icon" nzTheme="fill"
                                  nzType="close-circle" *ngIf="item.value" (click)="item.value = null"></i></ng-template>
                            </div>
                            <div *ngSwitchCase="'autocomplete'">
                              <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}}</nz-form-label>
                                <nz-form-control [nzSpan]="14">
                                  <nz-select id="{{item.name}}" [(ngModel)]="item.value"
                                    [ngModelOptions]="{standalone: true}">
                                    <nz-option *ngFor="let v of item.values" [nzValue]="v.value" [nzLabel]="v.label">
                                    </nz-option>
                                  </nz-select>
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                            <div *ngSwitchCase="'checkbox'">
                              <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}}</nz-form-label>
                                <nz-form-control [nzSpan]="14">
                                  <label nz-checkbox *ngFor="let v of item.values" nz-checkbox [(ngModel)]="v.value"
                                    [nzValue]="v.value" [ngModelOptions]="{standalone: true}">
                                    <span>{{v.label}}</span>
                                  </label>
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                            <nz-form-item *ngSwitchCase="'radio'">
                              <nz-form-label [nzSm]="6" [nzRequired]="item.required" [nzSpan]="6">{{item.label}}</nz-form-label>
                              <nz-form-control [nzSpan]="14">
                                <nz-radio-group [(ngModel)]="item.value">
                                  <label *ngFor="let v of item.values" nz-radio [nzValue]="v.value">{{v.label}}</label>
                                </nz-radio-group>
                              </nz-form-control>
                            </nz-form-item>
                            <nz-form-item *ngSwitchCase="'button'">
                              <nz-form-control [nzSpan]="14">
                                <input nz-input type="{{item.subtype}}" value="{{item.label}}"
                                  id="{{item.name}}">
                              </nz-form-control>
                            </nz-form-item>
                          </ng-container>
                        </ng-container>
                      </form>
                    </div>
                  </nz-page-header-content>
                </nz-page-header>
              </div>
            </nz-collapse-panel>

            <nz-collapse-panel [nzHeader]="'Send Email'" key="5">
              <WingBlank>
                <nz-form-item>
                  <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired style="font-weight: 700;">Select Email Template</nz-form-label>
                  <nz-select (ngModelChange)="populateEmailModal($event)" [(ngModel)]="tempObj">
                    <nz-option *ngFor="let et of emailTemplates" [nzValue]="et" [nzLabel]="et.templateName"></nz-option>
                  </nz-select>
                </nz-form-item>

                <form nz-form [formGroup]="emailForm" nzLayout="vertical">
                  <nz-form-item>
                    <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>Subject</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24">
                      <input nz-input placeholder="Write the subject of email" formControlName="subject" />
                    </nz-form-control>
                  </nz-form-item>
  
                  <nz-form-item>
                    <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>Body</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24">
                      <textarea nz-input placeholder="Controlled autosize" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                        formControlName="content"></textarea>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>Attachments</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24">
                      <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                        nzPlaceHolder="Please select attachments from the dropdown" formControlName="attachments">
                        <nz-option *ngFor="let attachment of attachments" [nzLabel]="attachment.fileName"
                          [nzValue]="attachment">
                        </nz-option>
                      </nz-select>
                      <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </form>
              </WingBlank>
            </nz-collapse-panel> 
          </nz-collapse>

          <nz-button-group style="margin-top: 5px;">
            <button nzType="danger" nz-button nzSize="default" (click)="showReassignmentDrawer()">Reassign</button>

            <button nzType="primary" nz-button nzSize="default"
              (click)="handleLeadSubmission(selectedLead, false)">Save</button>

            <button nzType="primary" nz-button nzSize="default" (click)="handleLeadSubmission(selectedLead, true)">Save
              & Next</button>
          </nz-button-group>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="showFilterDrawer=!showFilterDrawer">
            <ion-fab-button>
              <ion-icon name="filter"></ion-icon>
            </ion-fab-button>
          </ion-fab>         
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</nz-content>


<nz-drawer [nzClosable]="true" [nzVisible]="showFilterDrawer" [nzPlacement]="'right'" nzTitle="Lead Filters"
  (nzOnClose)="closeFilterDrawer()">
  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel [nzHeader]="'Lead Filter'" [nzActive]="false">
      <ng-container *ngIf="typeDict">
        <ng-container *ngFor="let key of objectkeys(typeDict)">
          <nz-descriptions nzLayout="vertical">
            <nz-descriptions-item *ngIf="typeDict[key]" [nzTitle]="typeDict[key].label">
              <ng-container [ngSwitch]="typeDict[key].type">
                <ng-container *ngSwitchCase="'date'">
                  <nz-range-picker [nzMode]="dateMode" [(ngModel)]="leadFilter[key]" [ngModelOptions]="{standalone: true}">
                  </nz-range-picker>
                </ng-container>

                <ng-container *ngSwitchCase="'number'">
                  <input nz-input placeholder="Basic usage" [(ngModel)]="leadFilter[key]" [ngModelOptions]="{standalone: true}"/>
                </ng-container>

                <ng-container *ngSwitchCase="'string'">
                  <input nz-input placeholder="Basic usage" [(ngModel)]="leadFilter[key]" [ngModelOptions]="{standalone: true}"/>
                </ng-container>

                <ng-container *ngSwitchCase="'tel'">
                  <input nz-input [(ngModel)]="leadFilter[key]" [ngModelOptions]="{standalone: true}"/>
                </ng-container>

                <ng-container *ngSwitchCase="'select'">
                  <nz-select nzMode="default" [(ngModel)]="leadFilter[key]" [ngModelOptions]="{standalone: true}">
                    <nz-option *ngFor="let option of typeDict[key].options" [nzLabel]="option" [nzValue]="option">
                    </nz-option>
                  </nz-select>
                </ng-container>
              </ng-container>
            </nz-descriptions-item>
          </nz-descriptions>
        </ng-container>
        <button nz-button (click)="fetchNextLead()">Submit</button>
      </ng-container>
    </nz-collapse-panel>
  </nz-collapse>
</nz-drawer>


<!-- user reassignment drawer -->
<nz-drawer [nzClosable]="false" [nzVisible]="isReassignmentDrawerVisible" nzPlacement="bottom" nzHeight="80vh"
  (nzOnClose)="closeReassignmentDrawer()">
  <ul nz-list [nzDataSource]="usersForReassignment" nzSize="small">
    <nz-list-header>
      <h2>Reassign handler</h2>
    </nz-list-header>
    <li nz-list-item *ngFor="let user of usersForReassignment" nzNoFlex>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <a>Select</a>
        </nz-list-item-action>
      </ul>
      {{ user.email }}
    </li>
  </ul>
</nz-drawer>

<nz-modal [(nzVisible)]="isContactDrawerVisible" nzTitle="Add Contact" (nzOnCancel)="hideContactDrawer()"
  (nzOnOk)="isContactDrawerVisible = false;" [nzStyle]="{ top: '200px' }" [nzFooter]="contactModalFooter">
  <form nz-form [formGroup]="contactForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="note">Label</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please Enter Label!">
        <input id="label" type="text" nz-input formControlName="label" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="note">Value</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please Enter Value!">
        <input id="value" type="text" nz-input formControlName="value" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="category" nzRequired>category</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please Enter category of contact">
        <nz-select id="category" formControlName="category" nzPlaceHolder="Select a option and change input text above">
          <nz-option nzValue="mobile" nzLabel="Mobile"></nz-option>
          <nz-option nzValue="email" nzLabel="Email"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #contactModalFooter>
    <button nz-button nzType="default" (click)="submitContactForm(false)">Save</button>
    <button nz-button nzType="primary" (click)="submitContactForm(true)">Add Another</button>
  </ng-template>
</nz-modal>