.parent {
  height: 100%;
  margin-bottom: 35px;
  overflow-y: scroll;
}

.site-page-header {
  padding: 10px;
}

.top {
  margin: 0px 10px;
}

p {
  white-space: normal;
  overflow-wrap: break-word;
  width: 85vw;
}

nz-descriptions-item {
  padding-top: 0px;
  margin-top: 0px;
}

::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 5px 32px;
}

::ng-deep
  .ant-descriptions-bordered.ant-descriptions-small
  .ant-descriptions-item-label {
  padding: 3px 16px;
}

::ng-deep bordered.ant-descriptions-small .ant-descriptions-item-content {
  padding: 3px 16px;
}

[nz-form] {
  max-width: 600px;
}

.ant-form-item {
  margin-bottom: 0px;
}

.ant-form-item .ant-form-item-label {
  padding-bottom: 0px;
}

::ng-deep .ant-modal-body {
  padding-top: 5px;
}
