.parent {
  height: 100%;
  margin-bottom: 35px;
  overflow-y: scroll;
}

.site-page-header {
  padding: 10px;
}

.top {
  margin: 0px 10px;
}

p {
  white-space: normal;
  overflow-wrap: break-word;
  width: 85vw;
}

nz-descriptions-item {
  padding-top: 0px;
  margin-top: 0px;
}
