::ng-deep .ant-descriptions-item {
    margin-bottom: 0px;
    padding-bottom: 0px;
}



.scrollable {
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pagination-component {
    position: absolute; 
    padding: 4px;
    margin: 0 auto;
}