::ng-deep .ant-descriptions-item {
    margin-bottom: 0px;
    padding-bottom: 0px;
}



.scrollable {
    margin-bottom: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
}

  

.lead-edit-btn {
    height: 30px; line-height: 30px; margin-right: 20px; margin-bottom: 10px;
  }

  .example-viewport{
    height: 100%;
    width: 100%;
  }


  ::ng-deep .ant-tree .ant-tree-treenode:first-of-type {
    display: none;
  }

  .pull-left {
    position: relative;
    left: -27px;
    width: 270px;
  }