.custom-btn {
  height: 29px;
  line-height: 29px;
}


mat-list-item {
  border: 1px solid whitesmoke;
  box-shadow:  -1px 1px whitesmoke,
         -2px 2px whitesmoke,
         -3px 3px whitesmoke,
         -4px 4px whitesmoke,
         -5px 5px whitesmoke;
}