<div class="table-operations" style="padding-left: 10px;">
  <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!-- <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input nz-input formControlName="handlerEmail" [nzAutocomplete]="auto">
          <nz-autocomplete [nzDataSource]="handlerEmailOpts" #auto></nz-autocomplete>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item class="top-row">
      <nz-form-control>
        <nz-select nzMode="multiple" nzPlaceHolder="Select campaigns" formControlName="campaigns" style="width: 200px;">
          <nz-option *ngFor="let co of campaignOpts" [nzLabel]="co" [nzValue]="co"></nz-option>
        </nz-select>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item class="top-row">
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Search</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div class="scrollable"> 
  <ng-container *ngFor="let data of listOfData">
    <nz-list nzItemLayout="horizontal" nzBordered="true" nzSize="small" [nzHeader]="campaignListHeader">
      <nz-list-item style="padding-bottom: 4px; padding-top: 0px; margin-bottom: 4px;">
        <ng-container *ngIf="!data.archived || ['manager', 'admin'].includes(roleType)" nzBordered>
          <nz-list-item-meta>
          <nz-list-item-meta-title>
            <a style="font-size: smaller;">Follow-Up 
              <nz-tag [nzColor]="'green'">{{ quickStats[data.campaignName]?.followUp || 0 }}</nz-tag></a> &nbsp;
            <nz-divider nzType="vertical"></nz-divider>
            <a style="font-size: smaller;">
              Overdue <nz-tag [nzColor]="'red'">{{ quickStats[data.campaignName]?.overdue || 0  }}</nz-tag>
            </a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        </ng-container>
      </nz-list-item>
      <nz-list-empty *ngIf="listOfData.length === 0"></nz-list-empty>
    </nz-list>
    <ng-template #campaignListHeader>
      <span (click)="gotoDetailedView(data)">
        <div nz-row nzJustify="space-between">
          <div nz-col nzSpan="20"><span style="font-weight: 700;">{{data.campaignName | uppercase}}</span></div>
          <div nz-col nzSpan="4" style="text-align: end;"><i nz-icon nzType="edit" nzTheme="outline" style="color: cornflowerblue;"></i> Edit</div>
        </div>
      </span>
    </ng-template>
  </ng-container>
</div>

<div class="pagination-block" *ngIf="totalPage > 1">
  <nz-pagination [nzPageIndex]="page" [nzTotal]="totalPage" nzShowSizeChanger [nzPageSize]="perPage"
    (nzPageSizeChange)="onPageSizeChange($event)" (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
</div>
