.campaignContainer {
    margin-top: 20px;
    text-align: center;
    background-color: snow;
}

.pagination-block {
    margin: 0 auto;
    padding: 10px;
}

.top-row {
    padding-top: 12px; 
    padding-bottom: 0px; 
    margin: 0 0 12 0;
}