.campaignContainer {
  margin-top: 20px;
  text-align: center;
  background-color: snow;
  margin-bottom: 45px;
}

.pagination-block {
  margin: 0 auto;
  padding-bottom: 35px;
}

.top-row {
  padding-top: 12px;
  padding-bottom: 0px;
  margin: 0 0 12 0;
}

nz-badge {
  margin-right: 20px;
}

.head-example {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
}

.pb0pt0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
