<div class="table-operations" style="padding-left: 10px;">
  <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!-- <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input nz-input formControlName="handlerEmail" [nzAutocomplete]="auto">
          <nz-autocomplete [nzDataSource]="handlerEmailOpts" #auto></nz-autocomplete>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item class="top-row">
      <nz-form-control>
        <nz-select nzMode="multiple" nzPlaceHolder="Select campaigns" formControlName="campaigns" style="width: 200px;">
          <nz-option *ngFor="let co of campaignOpts" [nzLabel]="co" [nzValue]="co"></nz-option>
        </nz-select>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item class="top-row">
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Search</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div class="scrollable">
  <ng-container *ngFor="let data of listOfData">
    <ng-container *ngIf="!data.archived || ['manager', 'admin'].includes(roleType)">
      <nz-descriptions (click)="gotoDetailedView(data)" nzBordered [nzTitle]="data.campaignName" class="campaignContainer">
        <!-- <nz-descriptions-item nzTitle="Creator">{{ data.createdBy }}</nz-descriptions-item> -->
        <nz-descriptions-item nzTitle="Start Date">{{ data.startDate | date }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="End Date">{{ data.endDate | date }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Archive" (click)="toggleArchiveStatus($event, data);"  *ngIf="['manager', 'admin'].includes(roleType)">
          <label nz-checkbox [(ngModel)]="data.archived" (ngModelChange)="archiveCampaign(data)">Checkbox</label>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Follow Up">{{ quickStats[data.campaignName]?.followUp || 0 }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Overdue">{{ quickStats[data.campaignName]?.overdue || 0 }}</nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
  </ng-container>
</div>
<div class="pagination-block" *ngIf="totalPage > 1">
  <nz-pagination [nzPageIndex]="page" [nzTotal]="totalPage" nzShowSizeChanger [nzPageSize]="perPage"
    (nzPageSizeChange)="onPageSizeChange($event)" (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
</div>
