<nz-card nzHoverable [nzCover]="coverTemplate" style="height: 90vh; position: relative; max-width: 500px;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);">
  <nz-card-meta nzTitle="Welcome to Molecule" style="text-align: center; padding-bottom: 40px;"></nz-card-meta>
  <ng-container [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <!-- <nz-form-item *ngIf="fieldsToShow.username">
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input nzSize="large" type="text" nz-input formControlName="username" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item> -->

    <ion-item *ngIf="fieldsToShow.username">
      <ion-label position="floating">Enter your username</ion-label>
      <ion-input formControlName="username" type="email"></ion-input>
    </ion-item>


    <ion-item *ngIf="fieldsToShow.password">
      <ion-label position="floating">Enter your password</ion-label>
      <ion-input formControlName="password"  type="password"></ion-input>
    </ion-item>


    <ion-item *ngIf="fieldsToShow.confirmPassword">
      <ion-label position="floating">Please confirm your password</ion-label>
      <ion-input formControlName="confirmPassword"  type="password"></ion-input>
    </ion-item>

    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <!-- <ion-list>
          <ion-item>
            <ion-label>Remember Me</ion-label>
            <ion-checkbox slot="end" formControlName="remember"></ion-checkbox>
          </ion-item>
        </ion-list> -->
        <Flex>
          <FlexItem>
            <AgreeItem
              formControlName="remember"
            >
              Remember Me
            </AgreeItem>
          </FlexItem>
        </Flex>
      </div>
      <div nz-col [nzSpan]="12">
        <a (click)="this.onFormTypeChange(formView.reset)" class="login-form-forgot">Forgot password</a>
      </div>
    </div>
    <div Button [type]="'primary'" (click)="submitForm()">{{buttonText}}</div>
    Or <a (click)="this.onFormTypeChange(nextAction)"> {{nextAction}} </a>
  </ng-container>
    
</nz-card>
<ng-template #coverTemplate>
  <img alt="example" src="assets/icon/transparent_logo.png" style="width:75px; padding-top: 5vh; margin: 0 auto;"/>
</ng-template>