.inner-content {
    background: #fff;

}

::ng-deep ion-toolbar {
    height: 35px;
}

.header-class {
    line-height: 35px;
    margin: 0 auto;
}

.example-spacer {
    flex: 1 1 auto;
}


ion-menu{
    --width: 234px;
  }

  :host >>> .mat-figure{
    align-items: end !important;
  }