<ion-app>
  <ion-menu side="start" content-id="main-content" menuId="first"  *ngIf="authService.visible">
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let o of appPages" (click)="routeTo(o.url)">
          <ion-icon [name]="o.icon" slot="start"></ion-icon>
          <ion-label>{{o.title}}</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <mat-toolbar color="primary" *ngIf="authService.visible">
    <mat-toolbar-row>
      <span>Molecule</span>
      <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
      </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <nz-layout id="main-content">
    <!-- <h4 nz-typography class="header-class">{{heading}}</h4> -->
    <ion-router-outlet class="inner-content"></ion-router-outlet>
    <ion-tabs>
      <ion-tabs>
        <ion-tab-bar slot="bottom" *ngIf="authService.visible">
          <ion-tab-button [routerLink]="['home', 'campaign', 'list']">
            <span class="material-icons">
              campaign
              </span>
            <ion-label>Campaign</ion-label>
          </ion-tab-button>

          <ion-tab-button [routerLink]="['home', 'followup']">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
            <!-- <ion-badge>6</ion-badge> -->
          </ion-tab-button>
    
      
          <ion-tab-button [routerLink]="['home', 'transactions']">
            <span class="material-icons">
              history
              </span>
            <ion-label>Logs</ion-label>
          </ion-tab-button>
      
          <ion-tab-button  [routerLink]="['home', 'profile']">
            <span class="material-icons">
              admin_panel_settings
              </span>
            <ion-label>Profile</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-tabs>
  </nz-layout>
</ion-app>

