<ion-app>
  <ion-fab vertical="top" horizontal="right" slot="fixed" expand="block" (click)="openMenu()">
    <ion-fab-button style="transform: scale(0.7) translateY(-25px) translateX(-7px);">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>

  <ion-menu side="start" content-id="main-content" menuId="first">
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let o of appPages" (click)="routeTo(o.url)">
          <ion-icon [name]="o.icon" slot="start"></ion-icon>
          <ion-label>{{o.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <nz-layout id="main-content">
    <h4 nz-typography class="header-class">{{heading}}</h4>
    <ion-router-outlet class="inner-content"></ion-router-outlet>
  </nz-layout>
</ion-app>
