.table-operations {
  margin-bottom: 16px;
}

.table-operations > button {
  margin-right: 8px;
}


.context-area {
  background: #f7f7f7;
  color: #777;
  text-align: center;
  height: 200px;
  line-height: 200px;
}
