<div class="table-operations">
  <button nz-button nzType="primary" (click)="open()"><i nz-icon nzType="aim" nzTheme="outline"></i>Advanced Filters</button>
  <button nz-button nzType="primary" (click)="createLead()"><i nz-icon nzType="plus" nzTheme="outline"></i> Lead</button>
</div>
<nz-table
  #filterTable
  [nzData]="listOfData"
  nzTableLayout="fixed"
  (nzPageIndexChange)="onPageIndexChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)"
>
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
      >
        {{ typeDict[column.name].label }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td *ngFor="let key of objectkeys(data)">
        <!-- {{ data[key] }} -->
        {{typeDict[key].type === 'date' ? (data[key] | date) : (data[key])}}
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" [nzPlacement]="placement" nzTitle="Select Advanced Filters" (nzOnClose)="close()" nzWidth="300px">
  <form nz-form [formGroup]="filterForm" nzLayout="vertical" (ngSubmit)="submitForm()">
    <nz-form-item *ngFor="let internalField of objectkeys(typeDict)">
      <nz-form-label [nzSpan]="24" nzRequired [nzFor]="internalField">{{typeDict[internalField].label}}</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <input type="text" nz-input [formControlName]="internalField" placeholder="Please input your name" />
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary">Submit</button>
  </form>
  <nz-divider nzText="Fields To Show"></nz-divider>
  <nz-checkbox-group [(ngModel)]="showCols" (ngModelChange)="rerenderCols()"></nz-checkbox-group>
</nz-drawer>
