<div *ngIf="formModel" style="max-width:500px;">
  <nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{formModel.name}}</nz-page-header-title>
    <nz-page-header-subtitle>{{formModel.description}}</nz-page-header-subtitle>
    <nz-page-header-content>
      <div class="content">
        <div>
          <ng-container *ngFor="let item of formModel.attributes">
            <ng-container [ngSwitch]="item.type">

              <ng-container *ngSwitchCase="'text'">
                <mat-form-field>  
                  <mat-label nzFor="email">{{item.label}}</mat-label>
                  <input matInput [id]="item.id" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"/>
                </mat-form-field>
              </ng-container>

              <ng-container *ngSwitchCase="'email'">
                <mat-form-field>
                  <mat-label>{{item.label}}</mat-label>
                  <input matInput type="email" id="{{item.name}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" placeholder="{{item.placeholder}}" />
                </mat-form-field>
              </ng-container>

              <ng-container *ngSwitchCase="'phone'">
                <mat-form-field>
                  <mat-label>{{item.label}}</mat-label>
                  <input matInput type="text" id="{{item.name}}" placeholder="{{item.placeholder}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'number'">
                <mat-form-field>
                  <mat-label>{{item.label}}</mat-label>
                  <input matInput type="number" id="{{item.name}}" min="{{item.min}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" max="{{item.max}}" placeholder="{{item.placeholder}}" />
                </mat-form-field>

              </ng-container>
              <ng-container *ngSwitchCase="'date'">
                <mat-form-field>
                  <mat-label>{{item.label}}</mat-label>
                  <input type="datetime-local" matInput id="{{item.name}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"/>
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'datetime-local'">
                <mat-form-field>
                  <mat-label>{{item.label}}</mat-label>
                  <input type="datetime-local" matInput id="{{item.name}}" nzShowTime [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'textarea'">
                <mat-form-field>
                  <mat-label>{{item.label}}</mat-label>
                  <textarea matInput placeholder="Controlled autosize"
                    id="{{item.name}}"
                    placeholder="{{item.placeholder}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"
                    ></textarea>
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'file'">
                <mat-form-field>
                  <mat-label>{{item.label}} (File can't be uploaded right now)</mat-label>
                  <input matInput type="file" id="{{item.name}}" placeholder="{{item.placeholder}}"
                    [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
              </ng-container>

              <div *ngSwitchCase="'paragraph'">
                <mat-form-field>
                  <mat-label>{{item.label}}</mat-label>
                  <input matInput type="text" matInput [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"
                      placeholder="input with clear icon" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"/>
                </mat-form-field>
              </div>
              <div *ngSwitchCase="'autocomplete'">
                <mat-form-field>
                  <mat-label>{{item.label}}</mat-label>
                  <mat-select id="{{item.name}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let v of item.values" [value]="v.value"> {{v.label}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngSwitchCase="'checkbox'">
                <section>
                  <mat-label>{{item.label}}</mat-label>
                  <mat-checkbox [(ngModel)]="v.value" *ngFor="let v of item.values">
                    {{v.label}}
                  </mat-checkbox>

                </section>
              </div>
              <ng-container *ngSwitchCase="'radio'">
                <mat-label>{{item.label}}
                </mat-label>
                <mat-radio-group
                  aria-labelledby="molecule-design-radio" [(ngModel)]="item.value">
                  <mat-radio-button class="example-radio-button" *ngFor="let v of item.values" [value]="v.value">
                    {{v.label}}
                  </mat-radio-button>
                </mat-radio-group>

              </ng-container>
              <ng-container *ngSwitchCase="'button'">
                <input matInput type="{{item.subtype}}" value="{{item.label}}" id="{{item.name}}"/>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</div>