<!-- The upper tab for choice of lead upload -->
<div>
  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="open()"
    style="transform: scale(0.7); position: absolute; top: -5px; right: -2px;">
    <ion-fab-button>
      <ion-icon name="cloud-download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<div style="padding: 10px;" class="scrollable">
  <div class="scrollable" style="padding-bottom: 35px;">
    <form nz-form [formGroup]="campaignForm" *ngIf="tabSelected === 'Lead Generation'">

      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label>Campaign Name</mat-label>
        <input placeholder="input here" matInput formControlName="campaignName" [readonly]="campaignId" />
      </mat-form-field>

      <nz-form-item>  
          <!-- <nz-range-picker nzShowTime formControlName="interval"></nz-range-picker> -->
          <mat-form-field appearance="outline" class="mat-full-width">
            <mat-label>Enter start and end date</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="startDate" placeholder="Start date">
              <input matEndDate formControlName="endDate" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        
      </nz-form-item>

      <mat-form-field class="mat-full-width" appearance="outline">
        <mat-label>Comment</mat-label>

        <textarea formControlName="comment" matInput rows="2" placeholder="write any thing"></textarea>

      </mat-form-field>

     
      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-select formControlName="assignees" placeholder="Assignees" [multiple]="true">
          <mat-option>
            <ngx-mat-select-search [formControl]="assigneeFilter" placeholderLabel="Jon Doe" 
              noEntriesFoundLabel="'no matching assignee found'">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let option of filteredListOfUsers" [value]="option._id">
            {{option.fullName}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Disposition
            </mat-panel-title>
          </mat-expansion-panel-header>
          <nz-tree [nzData]="demoDispositionNodes" [nzTreeTemplate]="nzTreeTemplate" nzDraggable nzBlockNode
            (nzOnDrop)="nzEvent($event)" (nzClick)="nzEvent($event)" (nzContextMenu)="nodeActions($event)"
            (contextmenu)="contextMenu($event, menu)">
          </nz-tree>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Unique Attributes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <nz-checkbox-group [(ngModel)]="uniqueCols" [ngModelOptions]="{ standalone: true }"></nz-checkbox-group> -->
          <mat-slide-toggle *ngFor="let col of uniqueCols" class="custom-toggle" [(ngModel)]="col.checked" [ngModelOptions]="{ standalone: true }">{{col.label}}</mat-slide-toggle>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Editable Columns
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <nz-checkbox-group [(ngModel)]="editableCols" [ngModelOptions]="{standalone: true}"></nz-checkbox-group> -->
          <mat-slide-toggle *ngFor="let col of editableCols" class="custom-toggle" [(ngModel)]="col.checked" [ngModelOptions]="{ standalone: true }">{{col.label}}</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Browsable Columns
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <nz-checkbox-group [(ngModel)]="browsableCols" [ngModelOptions]="{standalone: true}"></nz-checkbox-group> -->
          <mat-slide-toggle *ngFor="let col of browsableCols" class="custom-toggle" [(ngModel)]="col.checked" [ngModelOptions]="{ standalone: true }">{{col.label}}</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Assign To
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <nz-checkbox-group [(ngModel)]="assignTo" [ngModelOptions]="{ standalone: true }"></nz-checkbox-group> -->
          <mat-slide-toggle *ngFor="let col of assignTo" class="custom-toggle" [(ngModel)]="col.checked" [ngModelOptions]="{ standalone: true }">{{col.label}}</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Advanced Settings
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <nz-checkbox-group [(ngModel)]="advancedSettings" [ngModelOptions]="{ standalone: true }"></nz-checkbox-group> -->
          <mat-slide-toggle *ngFor="let col of advancedSettings" class="custom-toggle" [(ngModel)]="col.checked" [ngModelOptions]="{ standalone: true }">{{col.label}}</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel nzHeader="Create Groups">
          <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
            <input type="text" nz-input [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}" />
          </nz-input-group>

          <ng-template #addOnAfterTemplate>
            <span (click)="handleGroupAdd($event)">Add</span>
          </ng-template>


          <ng-container *ngFor="let g of groups">
            <nz-form-item>
              <mat-label>
                <span>
                  {{g.label}} <i nz-icon nzType="delete" nzTheme="fill" style="color: red; font-size: larger;"
                    (click)="deleteGroup(g.label)"></i>
                  <i nz-icon nz-tooltip nzTooltipTitle="Who all will he manage" nzTheme="outline"></i>
                </span>
              </mat-label>
              <nz-form-control [nzSpan]="12" nzErrorTip="Assign campaign to users in your organization">
                <!-- formControlName="assignees" -->
                <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="g.value"
                  [ngModelOptions]="{standalone: true}">
                  <nz-option *ngFor="let option of allLeadCols" [nzLabel]="option.readableField"
                    [nzValue]="option.internalField" [nzHide]="!isNotInGroup(option.internalField, g.value)">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel nzHeader="Add Email Template Here">
          <form nz-form [formGroup]="emailForm" nzLayout="vertical">
            <nz-form-item>
              <mat-label>Template Name</mat-label>
              <input placeholder="Template Name" nz-input formControlName="templateName" />
            </nz-form-item>


            <nz-form-item>
              <mat-label>Subject</mat-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <input nz-input placeholder="Write the subject of email" formControlName="subject" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <mat-label>Body</mat-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <textarea nz-input placeholder="Controlled autosize" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                  formControlName="content"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzMultiple]=true nzName="files">
              <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
            </nz-upload>
          </form>

          <!-- @Todo add functionality for submit without attachments -->
          <button nz-button [nzType]="'danger'">Submit without attachments</button>
          <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()"
            [disabled]="fileList.length == 0" style="margin-top: 16px">
            {{ uploading ? 'Uploading' : 'Use Attachments' }}
          </button>

        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Create Campaign form
            </mat-panel-title>
          </mat-expansion-panel-header>
          Not available in mobile
        </mat-expansion-panel>
      </mat-accordion>
      <br>



      <nz-upload [(nzFileList)]="leadFileList" [nzBeforeUpload]="beforeLeadFilesUpload" [nzMultiple]=true nzName="files"
        (click)="$event.stopImmediatePropagation();">
        <button mat-raised-button color="accent"><i nz-icon nzType="upload"></i>Choose Campaign File</button> &nbsp;
        <button mat-raised-button color="primary" (click)="handleLeadFilesUpload();">go</button>
      </nz-upload>

      <nz-form-item style="margin-top: 5px;">
        <nz-form-control [nzSpan]="12">
          <!-- hidden upload element -->
          <input type="file" #uploader (change)="captureCampaignConfigFile($event)" style="display: none;">
          <button type="upload" id="myFile" mat-raised-button color="accent" nzType="default" (click)="uploader.click()">
            <i nz-icon nzType="upload" nzTheme="outline"></i>
            Upload Params
            <nz-badge [nzCount]="campaignFiles?.length" style="margin-left: 1px;"></nz-badge>
          </button> &nbsp;
          <button mat-raised-button nzType="primary" [disabled]="!campaignForm.valid" color="primary"
            (click)="submitForm(campaignForm.value); $event.stopPropagation()">{{submitText}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <!-- campaign form ends here -->


    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="deleteNode()">Delete This</li>
        <li nz-menu-item (click)="addLeafNode()">Add Leaf</li>

        <!-- <nz-select
            style="margin: 0px; padding: 0px"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select an Action"
            [(ngModel)]="selectedAction"
            (ngModelChange)="attachAction()"
          >
            <nz-option nzLabel="Show Form" nzValue="showForm"></nz-option>
            <nz-option nzLabel="Follow Up" nzValue="followUp"></nz-option>
            <nz-option nzLabel="On Site Appointment" nzValue="onSiteAppointment"></nz-option>
            <nz-option nzLabel="Sales Call" nzValue="salesCall"></nz-option>
          </nz-select> -->
        <ion-item nz-menu-item>
          <ion-label>Actions</ion-label>
          <ion-select multiple [(ngModel)]="selectedAction" (ngModelChange)="attachAction()">
            <ion-select-option value="showForm">Show Form</ion-select-option>
            <ion-select-option value="followUp">FollowUp</ion-select-option>
            <ion-select-option value="appointment">Appointment</ion-select-option>
            <ion-select-option value="salesCall">SalesCall</ion-select-option>
          </ion-select>
        </ion-item>

        <input nz-input placeholder="rename node" (keyup.enter)="rename()" nzSize="default" [(ngModel)]="renameText" />
      </ul>
    </nz-dropdown-menu>

    <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="bottom" nzTitle="Recently Uploaded Files"
      (nzOnClose)="close()" nzHeight="90vh">
      <ng-container>
        <nz-list nzItemLayout="horizontal" [nzLoading]="false">
          <nz-list-item *ngFor="let upload of recentUploads" (click)="handleClick(upload)" class="hover-effect">
            <nz-list-item-meta-title>
              <a style="cursor: pointer;">Uploaded <span style="color: cornflowerblue;">{{upload["label"]}}</span> by
                {{upload['email']}} at {{upload['createdAt']| date:'full'}} with action type
                {{upload['actionType']}}</a>
            </nz-list-item-meta-title>
          </nz-list-item>
        </nz-list>
        <nz-divider></nz-divider>
      </ng-container>
    </nz-drawer>
  </div>
</div>



<!-- defining tree template -->
<ng-template #nzTreeTemplate let-node let-origin="origin">
  <span class="custom-node">
    <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, menu)">
      <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i>
      <span class="folder-name">{{ node.title }}</span>
    </span>
    <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, menu)">
      <i nz-icon nzType="file"></i>
      <span class="file-name">{{ node.title }}</span>
      <span class="file-desc" *ngIf="isArray(node.origin.action)">{{
        node.origin.action
      }}</span>
    </span>
  </span>
</ng-template>