
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="getUploadedFiles(); open()"
      style="transform: scale(0.7); position: absolute; top: -5px; right: -2px;">
      <ion-fab-button>
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  
  <ion-content fullscreen>
      <form nz-form [formGroup]="campaignForm" *ngIf="tabSelected === 'Lead Generation'">
  
        <mat-form-field appearance="outline" class="mat-full-width">
          <mat-label>Campaign Name</mat-label>
          <input placeholder="input here" matInput formControlName="campaignName" [readonly]="campaignId" />
        </mat-form-field>
  
        
        <!-- <nz-range-picker nzShowTime formControlName="interval"></nz-range-picker> -->
        <mat-form-field appearance="outline" class="mat-full-width">
          <mat-label>Enter start and end date</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="startDate" placeholder="Start date">
            <input matEndDate formControlName="endDate" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      
  
  
        <mat-form-field class="mat-full-width" appearance="outline">
          <mat-label>Comment</mat-label>
  
          <textarea formControlName="comment" matInput rows="2" placeholder="write any thing"></textarea>
  
        </mat-form-field>
  
       
        <mat-form-field appearance="outline" class="mat-full-width">
          <mat-label>Assignees</mat-label>
          <mat-select formControlName="assignees" placeholder="Assignees" [multiple]="true">
            <mat-option>
              <ngx-mat-select-search [formControl]="assigneeFilter" placeholderLabel="Jon Doe" 
                noEntriesFoundLabel="'no matching assignee found'">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let option of filteredListOfUsers" [value]="option._id">
              {{option.fullName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- the block below is only to be shown for campaign update case -->
        <ng-container *ngIf="this.campaignId">
          <button mat-flat-button class="mat-full-width" (click)="displayParamModal()" style="padding-bottom: 2px;"> Add More Params</button>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Disposition
                </mat-panel-title>
              </mat-expansion-panel-header>
              <nz-tree [nzData]="demoDispositionNodes" [nzTreeTemplate]="nzTreeTemplate" nzDraggable nzBlockNode
                (nzOnDrop)="nzEvent($event)" (nzClick)="nzEvent($event)" (nzContextMenu)="nodeActions($event)"
                (contextmenu)="contextMenu($event, menu)">
              </nz-tree>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Unique Attributes
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- <nz-checkbox-group [(ngModel)]="uniqueCols" [ngModelOptions]="{ standalone: true }"></nz-checkbox-group> -->
              <mat-slide-toggle *ngFor="let col of uniqueCols" class="custom-toggle" [(ngModel)]="col.checked" [ngModelOptions]="{ standalone: true }">{{col.label}}</mat-slide-toggle>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Editable Columns
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- <nz-checkbox-group [(ngModel)]="editableCols" [ngModelOptions]="{standalone: true}"></nz-checkbox-group> -->
              <mat-slide-toggle *ngFor="let col of editableCols" class="custom-toggle" [(ngModel)]="col.checked" [ngModelOptions]="{ standalone: true }">{{col.label}}</mat-slide-toggle>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Browsable Columns
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- <nz-checkbox-group [(ngModel)]="browsableCols" [ngModelOptions]="{standalone: true}"></nz-checkbox-group> -->
              <mat-slide-toggle *ngFor="let col of browsableCols" class="custom-toggle" [(ngModel)]="col.checked" [ngModelOptions]="{ standalone: true }">{{col.label}}</mat-slide-toggle>
            </mat-expansion-panel>
    
    
            <!-- For changes to group refer https://github.com/shanurrahman/crm-ui/blob/8b3fd4192ba2e5e610cac69365d3435dffa4e04b/src/app/campaign-create/campaign-create.component.html -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Create Campaign Groups
              </mat-expansion-panel-header>
              <mat-form-field class="mat-full-width">
                <mat-label>Group Name</mat-label>
                <input type="text" matInput [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}"/>
                <button matSuffix  mat-stroked-button color="primary" (click)="handleGroupAdd($event)">Add</button>
              </mat-form-field>
    
              <ng-container *ngFor="let g of groups">
                <mat-form-field class="mat-full-width">
                  <mat-label>
                    <span>
                      {{g.label}}
                    </span>
                  </mat-label>
                  <mat-select multiple [(ngModel)]="g.value" [ngModelOptions]="{standalone: true}" *ngIf="allLeadCols">
                    <mat-option *ngFor="let option of allLeadCols" [value]="option.internalField">{{option.readableField}}</mat-option>
                  </mat-select>

                  <!-- <button mat-flat-button >Delete</button> -->
                  <button mat-mini-fab color="warn" matSuffix (click)="deleteGroup(g.label)" aria-label="Delete button">
                    <mat-icon>remove</mat-icon>
                  </button>
                </mat-form-field>
              </ng-container>
    
            </mat-expansion-panel>
    
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Assign To
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- <nz-checkbox-group [(ngModel)]="assignTo" [ngModelOptions]="{ standalone: true }"></nz-checkbox-group> -->
              <mat-slide-toggle *ngFor="let col of assignTo" class="custom-toggle" [(ngModel)]="col.checked" [ngModelOptions]="{ standalone: true }">{{col.label}}</mat-slide-toggle>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Advanced Settings
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- <nz-checkbox-group [(ngModel)]="advancedSettings" [ngModelOptions]="{ standalone: true }"></nz-checkbox-group> -->
              <mat-slide-toggle *ngFor="let col of advancedSettings" class="custom-toggle" [(ngModel)]="col.checked" [ngModelOptions]="{ standalone: true }">{{col.label}}</mat-slide-toggle>
            </mat-expansion-panel>
    
            <mat-expansion-panel nzHeader="Create Groups">
              <mat-form-field appearance="outline">
                <mat-label> Campaign Groups </mat-label>
                <input matInput type="text" matInput [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}" />
                <span matSuffix>
                  <span (click)="handleGroupAdd($event)">Add</span>
                </span>
              </mat-form-field>
    
    
              <ng-container *ngFor="let g of groups">
                <mat-form-field>
                  <mat-label>
                    <span>
                      {{g.label}} <i nz-icon nzType="delete" nzTheme="fill" style="color: red; font-size: larger;"
                        (click)="deleteGroup(g.label)"></i>
                      <i nz-icon nz-tooltip nzTooltipTitle="Who all will he manage" nzTheme="outline"></i>
                    </span>
                  </mat-label>
                  <!-- <nz-form-control [nzSpan]="12" nzErrorTip="Assign campaign to users in your organization"> -->
                    <!-- formControlName="assignees" -->
                    <!-- [nzLabel]="option.readableField" -->
                    <mat-select multiple placeHolder="Inserted are removed" [(ngModel)]="g.value"
                      [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let option of allLeadCols" [value]="option.internalField">{{option.readableField}}</mat-option>
                    </mat-select>
                  <!-- </nz-form-control> -->
                </mat-form-field>
              </ng-container>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Autodial Settings
              </mat-expansion-panel-header>

              <form [formGroup]="autodialForm">
                <div style="margin-bottom: 14px;">
                  <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
                </div>
                <mat-form-field class="mat-full-width" appearance="outline">
                  <mat-label aria-placeholder="Max followup / day"> Max followup / day</mat-label>
                  <input type="number" matInput formControlName="mfupd"/>
                </mat-form-field>
                <mat-form-field class="mat-full-width" appearance="outline">
                  <mat-label> Call Preview Time / seconds</mat-label>
                  <input type="number" matInput formControlName="cpts"/>
                </mat-form-field>
                <mat-form-field class="mat-full-width" appearance="outline">
                  <mat-label> Call disposition time / seconds</mat-label>
                  <input type="number" matInput formControlName="cdts"/>
                </mat-form-field>
              </form>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Add Email Template
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form nz-form [formGroup]="emailForm" nzLayout="vertical">
                <mat-form-field class="mat-full-width" appearance="outline">
                  <mat-label>Template Name</mat-label>
                  <input matInput formControlName="templateName" />
                </mat-form-field>
    
    
                <mat-form-field class="mat-full-width" appearance="outline">
                  <mat-label>Subject</mat-label>
                  <input matInput formControlName="subject" />
                </mat-form-field>
    
                <mat-form-field class="mat-full-width" appearance="outline">
                  <mat-label>Body</mat-label>
                    <textarea matInput placeholder="Controlled autosize" formControlName="content"></textarea>
                </mat-form-field>
                <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzMultiple]=true nzName="files">
                  <button mat-stroked-button color="primary"><i nz-icon nzType="upload"></i>Select File</button>
                </nz-upload>
              </form>
    
              <!-- @Todo add functionality for submit without attachments -->
              <button mat-stroked-button color="danger">Submit without attachments</button>
              <button mat-stroked-button color="primary" (click)="handleUpload()"
                [disabled]="fileList.length == 0" style="margin-top: 16px">
                {{ uploading ? 'Uploading' : 'Use Attachments' }}
              </button>
    
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Create Campaign form
                </mat-panel-title>
              </mat-expansion-panel-header>
             
              <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Form builder">
                  <app-dynamic-form
                    (formUpdate)="onCampaignFormUpdate($event)"
                    [formModel]="formModel"
                  ></app-dynamic-form>
                </mat-tab>
                <mat-tab label="Preview">
                  <app-dynamic-form-preview [formModel]="formModel"></app-dynamic-form-preview>
                </mat-tab>
              </mat-tab-group>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
        <br>
  
  
        <nz-upload [(nzFileList)]="leadFileList" [nzBeforeUpload]="beforeLeadFilesUpload" [nzMultiple]=true nzName="files"
          (click)="$event.stopImmediatePropagation();" class="mat-full-width">
          <button mat-raised-button color="accent"><i nz-icon nzType="upload"></i>Choose Campaign File</button> &nbsp;
          <button mat-raised-button color="primary" (click)="handleLeadFilesUpload();">Upload</button>
        </nz-upload>
        <br>
  
        <!-- <nz-form-item style="margin-top: 5px;">
          <nz-form-control [nzSpan]="12"> -->
            <!-- hidden upload element -->
            <!-- <input type="file" #uploader (change)="captureCampaignConfigFile($event)" style="display: none;">
            <button type="upload" id="myFile" mat-raised-button color="accent" nzType="default" (click)="uploader.click()">
              <i nz-icon nzType="upload" nzTheme="outline"></i>
              Upload Params
              <nz-badge [nzCount]="campaignFiles?.length" style="margin-left: 1px;"></nz-badge>
            </button> &nbsp; -->
            <button mat-raised-button [disabled]="!campaignForm.valid" color="primary" class="mat-full-width"
              (click)="submitForm(campaignForm.value); $event.stopPropagation()">{{submitText}}</button>
          <!-- </nz-form-control>
        </nz-form-item> -->
      </form>
      <!-- campaign form ends here -->
  
  
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="deleteNode()">Delete This</li>
          <li nz-menu-item (click)="addLeafNode()">Add Leaf</li>
  
          <!-- <nz-select
              style="margin: 0px; padding: 0px"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select an Action"
              [(ngModel)]="selectedAction"
              (ngModelChange)="attachAction()"
            >
              <nz-option nzLabel="Show Form" nzValue="showForm"></nz-option>
              <nz-option nzLabel="Follow Up" nzValue="followUp"></nz-option>
              <nz-option nzLabel="On Site Appointment" nzValue="onSiteAppointment"></nz-option>
              <nz-option nzLabel="Sales Call" nzValue="salesCall"></nz-option>
            </nz-select> -->
          <ion-item nz-menu-item>
            <ion-label>Actions</ion-label>
            <ion-select multiple [(ngModel)]="selectedAction" (ngModelChange)="attachAction()">
              <ion-select-option value="showForm">Show Form</ion-select-option>
              <ion-select-option value="followUp">FollowUp</ion-select-option>
              <ion-select-option value="appointment">Appointment</ion-select-option>
              <ion-select-option value="salesCall">SalesCall</ion-select-option>
            </ion-select>
          </ion-item>
  
          <input matInput placeholder="rename node" (keyup.enter)="rename()" nzSize="default" [(ngModel)]="renameText" />
        </ul>
      </nz-dropdown-menu>
  
      <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="bottom" nzTitle="Recently Uploaded Files"
        (nzOnClose)="close()" nzHeight="90vh">
        <ng-container>
          <mat-list nzItemLayout="horizontal">
            <mat-list-item *ngFor="let upload of recentUploads" (click)="handleClick(upload)" class="hover-effect">
              
                <a matLine style="cursor: pointer;">Uploaded <span style="color: cornflowerblue;">{{upload["label"]}}</span> by
                  {{upload['email']}} at {{upload['createdAt']| date:'full'}} with action type
                  {{upload['actionType']}}</a>
              
            </mat-list-item>
          </mat-list>
          <nz-divider></nz-divider>
        </ng-container>
      </nz-drawer>
  </ion-content>
  
  
  
  <!-- defining tree template -->
  <ng-template #nzTreeTemplate let-node let-origin="origin">
    <span class="custom-node">
      <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, menu)">
        <!-- @Todo replace by icon from material design -->
        <!-- <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i> -->
        <span class="folder-name">{{ node.title }}</span>
      </span>
      <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, menu)">
        <i nz-icon nzType="file"></i>
        <span class="file-name">{{ node.title }}</span>
        <span class="file-desc" *ngIf="isArray(node.origin.action)">{{
          node.origin.action
        }}</span>
      </span>
    </span>
  </ng-template>
</ion-content>
