<form nz-form [formGroup]="signupForm" (ngSubmit)="submitForm()">
  <nz-divider nzText="Sign Up" nzOrientation="center"></nz-divider>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fullName" nzRequired>
      <span>
        Full Name
        <i nz-icon nz-tooltip nzTooltipTitle="What do you want other to call you" nzType="question-circle"
          nzTheme="outline"></i>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your nickname!">
      <input nz-input id="fullName" formControlName="fullName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
      <input nz-input type="password" id="password" formControlName="password"
        (ngModelChange)="updateConfirmValidator()" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>



  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roleType" nzRequired>
      <span>
        Role Type
        <i nz-icon nz-tooltip nzTooltipTitle="User Role" nzType="question-circle"
          nzTheme="outline"></i>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="What will be the role of this user">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Role Type" formControlName="roleType">
        <nz-option nzLabel="Frontline" nzValue="frontline"></nz-option>
        <nz-option nzLabel="Manager" nzValue="manager"></nz-option>
        <nz-option nzLabel="Senior Manager" nzValue="seniorManager"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>



  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="reportsTo" nzRequired>
      <span>
        Reports To
        <i nz-icon nz-tooltip nzTooltipTitle="Who does this user report to" nzType="question-circle"
          nzTheme="outline"></i>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Who does the user report to">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="reportsTo">
        <nz-option *ngFor="let user of listOfOption" [nzLabel]="user.fullName" [nzValue]="user.email"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>



  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roles" nzRequired>
      <span>
        Roles
        <i nz-icon nz-tooltip nzTooltipTitle="what roles will he have" nzTheme="outline"></i>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Roles Error">
      <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" formControlName="roles">
        <nz-option *ngFor="let role of rolesOptions" [nzLabel]="role.label" [nzValue]="role.value" [nzHide]="!isNotSelectedRole(role.value)"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>




  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="manages" nzRequired>
      <span>
        Manages
        <i nz-icon nz-tooltip nzTooltipTitle="Who all will he manage" nzTheme="outline"></i>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Who will he manage">
      <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" formControlName="manages">
        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.fullName" [nzValue]="option.email"
          [nzHide]="!isNotSelected(option.email)"></nz-option>
      </nz-select>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="signupForm.controls['phoneNumber']"
      nzErrorTip="Please input your phone number!">
      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
        <ng-template #addOnBeforeTemplate>
          <nz-select formControlName="phoneNumberPrefix" class="phone-select">
            <nz-option nzLabel="+91" nzValue="+91"></nz-option>
            <nz-option nzLabel="+87" nzValue="+87"></nz-option>
          </nz-select>
        </ng-template>
        <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox formControlName="agree">
        <span>I have read the <a>agreement</a></span>
      </label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Register</button>
    </nz-form-control>
  </nz-form-item>
</form>
