<ion-content>
  <div style="margin: 6px; padding: 6px; overflow-y: scroll; height: 90vh;">
    <img [src]="userimage" (click)="csvInput.click()" alt="" srcset="" class="rounded">
  
    <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="handleIconClick($event)" accept=".jpg,.jpeg,.png,.tif,.tiff,.gif"/>
  
    <form [formGroup]="profileForm" (submit)="handleProfileSubmit()">
      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="fullName"/>
        <mat-error *ngIf="fullName.hasError('minlength') && !fullName.hasError('required')">
          First Name must be atleast three characters long
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="Placeholder" formControlName="phoneNumber" type="number"/>
        <mat-error *ngIf="phoneNumber.hasError('pattern') && !phoneNumber.hasError('required')">
          Please enter a valid mobile number
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Placeholder" formControlName="password" type="password"/>
        <mat-error *ngIf="password.hasError('required')">
          Password cannot be empty
        </mat-error>
        <mat-hint>Enter your current password to make changes</mat-hint>
      </mat-form-field>


      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="Placeholder" formControlName="newPassword" type="password"/>
        <mat-hint>Leave empty to retain current password</mat-hint>
      </mat-form-field>



      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label>Confirm New Password</mat-label>
        <input matInput placeholder="Placeholder" formControlName="confirmNewPassword" type="password" [errorStateMatcher]="matcher"/>
        <mat-hint>Leave empty to retain current password</mat-hint>
        <mat-error *ngIf="profileForm.hasError('notSame')">Passwords do not match</mat-error>  
      </mat-form-field>
  
      <button mat-raised-button style="float: right;" color="primary">Submit</button>
    </form>
  </div>  
</ion-content>
