<ion-content fullscreen>
    <mat-toolbar-row>
      <h2 style="margin: 0 auto;">Enter Organizational Details</h2>
    </mat-toolbar-row>
  
    <img (click)="csvInput.click()" [src]="organizationImage.value" alt="" [srcset]="organizationImage.value" class="rounded" name="organizationImage">
    
    <!-- <span class="material-icons overlay" (click)="csvInput.click()">
      camera_alt
    </span> -->
  
    <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="handleIconClick($event)" accept=".jpg,.jpeg,.png,.tif,.tiff,.gif"/>
    <form [formGroup]="organizationForm">
      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label>
          Full Name
        </mat-label>
  
        <input matInput id="fullName" formControlName="fullName" />
  
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label nzRequired nzFor="name">Organization Name</mat-label>
  
        <input matInput formControlName="name" id="name" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input your username!
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">
            The username is redundant!
          </ng-container>
        </ng-template>
  
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label class="mobile_ant_label" nzRequired nzFor="email">E-mail</mat-label>
  
        <input matInput formControlName="email" id="email" name="email"/>
  
      </mat-form-field>
      <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label class="mobile_ant_label" nzFor="password" nzRequired>Password</mat-label>
  
        <input matInput type="password" id="password" formControlName="password"
          (ngModelChange)="updateConfirmValidator()" name="password"/>
  
      </mat-form-field>
      <mat-form-field class="mat-full-width" appearance="outline">
        <mat-label class="mobile_ant_label" nzFor="checkPassword" nzRequired>Confirm Password</mat-label>
  
        <input matInput type="password" formControlName="checkPassword" id="checkPassword" />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <mat-error *ngIf="control.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </mat-error>
        </ng-template>
  
      </mat-form-field>
  
      <mat-form-field class="mat-full-width" appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input type="text" matInput formControlName="phoneNumber">
        <mat-error *ngIf="phoneNumber.hasError('required')">
          Phone number is <strong>required</strong>
        </mat-error>
  
  
        <!-- <button matSuffix mat-flat-button color="accent" (click)="onPhoneNumberEnter()">Generate OTP</button> -->
      </mat-form-field>

<!-- 
      <mat-form-field class="mat-full-width" appearance="outline">
        <mat-label>OTP</mat-label>
        <input type="email" matInput formControlName="otp" placeholder="1ABFFD">
        <mat-error *ngIf="otp.hasError('required')">
          OTP is <strong>required</strong>
        </mat-error>
      </mat-form-field> -->
  
      <button mat-raised-button color="primary" (click)="submitForm()">Register</button>
    </form>
</ion-content>
