<div style="padding: 10px; margin: 10px;">
    <h1>Create new password</h1>
    <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label>Enter email</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="model.email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>enter your username / password</mat-hint>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="mat-full-width">
        <mat-label>Enter new password</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="model.password" type="password">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>enter strong password</mat-hint>
    </mat-form-field>
    <button mat-button color="primary" (click)="navigateToLogin()">Login</button>
    <button mat-flat-button color="primary" style="float: right;" (click)="resetPassword()">Submit</button>
</div>