<ion-menu side="end" contentId="transactionFilter" id="transactionFilter" id="transactionFilter">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>End Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="transactionFilter" transactionFilter></ion-router-outlet>


<button mat-flat-button (click)="openTransactionFilter()">Open transaction filter</button>
<div class="scrollable" style="height: 90vh;">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let t of transactions">
      <mat-expansion-panel-header>{{t.prospectName?.split(' ')[0]}}</mat-expansion-panel-header>
      <button mat-flat-button nzType="primary" style="float: right;" (click)="showLead(t.lead)">Edit</button>
      <mat-list>
        <ng-container *ngFor="let k of objectKeys(t)">
          <!-- <mat-list-item *ngIf="k!=='requestedInformation' && leadMapping[k]"> -->
            <mat-form-field appearance="outline" class="mat-full-width">
                <mat-label>{{leadMapping[k]}}</mat-label>
                <input matInput [value]="t[k] | date: 'short'" *ngIf="['createdAt', 'followUp'].includes(k)" readonly>
                <input matInput [value]="t[k]" *ngIf="!['createdAt', 'followUp'].includes(k)" readonly>
            </mat-form-field>
          <!-- </mat-list-item> -->
        </ng-container>
      </mat-list>
    </mat-expansion-panel>
    </mat-accordion>
  <mat-paginator 
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="handlePageChange($event)"
  >
</mat-paginator>
</div>