<div class="scrollable" style="height: 90vh;">
  <nz-collapse nzAccordion nzGhost>
    <nz-collapse-panel *ngFor="let t of transactions" [nzHeader]="extraTpl" [nzActive]="t.active">
      <nz-descriptions nzSize="small" nzBordered>
        <ng-container *ngFor="let k of objectKeys(t)">
          <nz-descriptions-item [nzTitle]="leadMapping[k]" *ngIf="k!=='requestedInformation' && leadMapping[k]">
            <!-- {{t[k]}} -->
            <span *ngIf="['createdAt', 'followUp'].includes(k)">{{t[k] | date: 'full'}}</span>
            <span *ngIf="!['createdAt', 'followUp'].includes(k)">{{t[k]}}</span>
          </nz-descriptions-item>
        </ng-container>
      </nz-descriptions>
      <ng-template #extraTpl>
        <span>{{t.prospectName?.split(' ')[0]}}</span>
        <button nz-button nzType="primary" style="float: right;" (click)="showLead(t.lead)">Edit</button>
      </ng-template>
    </nz-collapse-panel>
  </nz-collapse>
  <mat-paginator 
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="handlePageChange($event)"
  >
</mat-paginator>
</div>