<div mat-dialog-content>
  <!-- <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->

  <mat-form-field class="mat-full-width" appearance="outline">
    <mat-label>Name On Excel</mat-label>
    <input matInput [(ngModel)]="data.configLabel">
  </mat-form-field>

  <mat-form-field class="mat-full-width" appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="data.configType">
      <mat-option *ngFor="let type of data.elementTypes" [value]="type.value">{{type.label}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button [disabled]="!data.configLabel || !data.configType" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
