<nz-divider nzType="vertical" nzText="New Campaign"></nz-divider>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Type</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
      <nz-radio-group formControlName="type" nzButtonStyle="solid">
        <label nz-radio-button nzValue="Lead Generation">Lead Generation</label>
        <label nz-radio-button nzValue="Custom Workflow">Custom Workflow</label>
      </nz-radio-group>
      <a nz-button nzType="link" (click)="open()"><i nz-icon nzType="setting" nzTheme="outline"></i></a>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input placeholder="input here" nz-input formControlName="email" (input)="onInput($event)" [nzAutocomplete]="auto" />
      <nz-autocomplete [nzDataSource]="options" nzBackfill #auto></nz-autocomplete>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Interval</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-range-picker nzShowTime formControlName="interval"></nz-range-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Comment</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
      <textarea formControlName="comment" nz-input rows="2" placeholder="write any thing"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
      <button nz-button (click)="resetForm($event)">Reset</button>
      <nz-upload nzAction="http://localhost:3000/customer/many?type=campaignSchema&schemaName=core">
        <button nz-button><i nz-icon nzType="upload"></i> + Campaign</button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzWidth="300px" nzPlacement="right" nzTitle="Uploaded Campaign Files" (nzOnClose)="close()">
  <ng-container *ngFor="let upload of recentUploads">
    <a nz-button nzType="link" (click)="handleClick(upload)">{{upload.email}} at {{upload.createdAt|date}}</a>
  </ng-container>
</nz-drawer>
