[nz-form] {
  max-width: 900px;
}

button {
  margin-left: 8px;
}

.context-area {
    background: #f7f7f7;
    color: #777;
    text-align: center;
    height: 200px;
    line-height: 200px;
}


nz-tree {
  overflow: hidden;
  font-size: 1.1rem;
}


.downloadPanel {
  cursor: pointer;
}
