<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Type</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
      <nz-radio-group [(ngModel)]="tabSelected" [ngModelOptions]="{standalone: true}" (ngModelChange)="handleFormTypeChange($event)"	nzButtonStyle="solid">
        <label nz-radio-button nzValue="Lead Generation">Lead Generation</label>
        <label nz-radio-button nzValue="Custom Workflow">Custom Workflow</label>
      </nz-radio-group>
      <a nz-button nzType="link" (click)="open()"><i nz-icon nzType="setting" nzTheme="outline"></i></a>
    </nz-form-control>
  </nz-form-item>
</form>


<form nz-form [formGroup]="campaignForm" *ngIf="tabSelected === 'Lead Generation'">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Campaign Name</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input placeholder="input here" nz-input formControlName="campaignName" [nzAutocomplete]="auto" />
      <nz-autocomplete #auto>
        <nz-auto-option *ngFor="let option of options" [nzValue]="option?.type">{{option?.type}}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Interval</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-range-picker nzShowTime formControlName="interval"></nz-range-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Comment</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
      <textarea formControlName="comment" nz-input rows="2" placeholder="write any thing"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!campaignForm.valid" (click)=submitForm(campaignForm.value)>Submit</button>
      <button nz-button (click)="resetForm($event)">Reset</button>


      <nz-upload [(nzFileList)]="leadFileList" [nzBeforeUpload]="beforeLeadFilesUpload" [nzMultiple]=true nzName="files">
        <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
</form>



<form nz-form [formGroup]="campaignConfigForm" *ngIf="tabSelected === 'Custom Workflow'">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Campaign Name</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input placeholder="input here" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!campaignConfigForm.valid" (click)=submitCcForm(campaignConfigForm.value)>Submit</button>
      <button nz-button (click)="resetForm($event)">Reset</button>
      <nz-upload [(nzFileList)]="configFiles" [nzBeforeUpload]="beforeCcUpload" [nzMultiple]=true nzName="file">
        <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzWidth="300px" nzPlacement="right" nzTitle="Advanced Options" (nzOnClose)="close()">
  <ng-container>
    <button nz-button [nzType]="'primary'" (click)="showEmailTplModal()"><span>+ Email Template</span></button>
    <nz-modal nzWidth="700" [(nzVisible)]="isEmailTplVisible" nzTitle="Add Email Template Here" (nzOnCancel)="handleEmailTplCancel()" (nzOnOk)="handleEmailTplOk()">
      <form nz-form [formGroup]="emailForm" nzLayout="vertical">

        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>Select Campaign</nz-form-label>
          <input placeholder="Select Campaign" nz-input formControlName="campaign" [nzAutocomplete]="autob" />
          <nz-autocomplete #autob>
            <nz-auto-option *ngFor="let co of campaignOptions" [nzValue]="co.type" [nzLabel]="co.type">
              {{ co.type }}
            </nz-auto-option>
          </nz-autocomplete>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>Subject</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input nz-input placeholder="Write the subject of email" formControlName="subject" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>Body</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <textarea nz-input placeholder="Controlled autosize" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
              formControlName="content"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzMultiple]=true nzName="files">
          <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
        </nz-upload>
      </form>

      <div *nzModalFooter>
        <button nz-button [nzType]="'danger'">Submit without attachments</button>
        <button
          nz-button
          [nzType]="'primary'"
          [nzLoading]="uploading"
          (click)="handleUpload()"
          [disabled]="fileList.length == 0"
          style="margin-top: 16px"
        >
          {{ uploading ? 'Uploading' : 'Use Attachments' }}
        </button>
      </div>
    </nz-modal>



    <!-- Modal for disposition -->
    <button nz-button [nzType]="'secondary'" (click)="showDispositionTplModal()"><span>+ Disposition</span></button>
    <nz-modal nzWidth="500" [(nzVisible)]="isDispositionVisible" nzTitle="Disposition" (nzOnCancel)="handleDispositionCancel()" (nzOnOk)="handleDispositionOk()">
      <nz-tree [nzData]="demoDispositionNodes" nzDraggable nzBlockNode (nzOnDrop)="nzEvent($event)" nzShowLine (nzClick)="nzEvent($event)" (contextmenu)="contextMenu($event, menu)"> </nz-tree>
    </nz-modal>
  </ng-container>

  <nz-divider nzText="Recently uploaded files"></nz-divider>
  <ng-container *ngFor="let upload of recentUploads">
  <a nz-button nzType="link" (click)="handleClick(upload)">{{upload.email}} at {{upload.createdAt|date}}</a>
  </ng-container>
</nz-drawer>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>1st menu item</li>
    <li nz-menu-item>2nd menu item</li>
    <li nz-menu-item nzDisabled>disabled menu item</li>
    <li nz-submenu nzTitle="sub menu">
      <ul>
        <li nz-menu-item>3rd menu item</li>
        <li nz-menu-item>4th menu item</li>
      </ul>
    </li>
    <li nz-submenu nzDisabled nzTitle="disabled sub menu">
      <ul>
        <li nz-menu-item>3rd menu item</li>
        <li nz-menu-item>4th menu item</li>
      </ul>
    </li>
  </ul>
</nz-dropdown-menu>
